.container-fluid{
    display: flex;
    gap: 500px;
}
.navbar-nav{
    display: flex;
    gap: 25px;
}
.name{
    text-align: left;
}
.name a{
    font-size: 50px;
    font-weight: 500;
}
*{
    font-weight: 500;
}
